$white: #fefefe;
$primary: #1f2a63;
$secondary: #5a5a63;
$tertiary: #6362f4;
$bg: #f1f1fb;
$tertiary-darker: #5c5ff2;
$light: #e1e5f8;
$dark: #3b4657;
$danger: #df274f;
$success: #2fbbb4;
$warning: #e7da24;