@use '@/styles/colors.scss' as *;


.cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    color: $light;
    padding: 0;
}

.cardContainer h1 {
    font-size: larger !important;
    font-weight: bold !important;
    margin: 0 !important;
}

.cardContainer p {
    font-size: medium;
    margin: 0;
}

.middleContainer {
    flex: 0 1 auto;
    text-align: center;
}

.sideContainer {
    flex: 0 0 100px;
    max-width: 100px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.imageContainer {
    height: 100%;
    overflow: hidden;
}

.coverImage {
    position: relative;
    top: -23px;
    left: -14px;
    width: 115px;
    pointer-events: none;
    margin: 0;
    padding: 0;
}