@use '@/styles/colors.scss' as *;

.container {
    display: flex;
    flex: 1;
    min-height: 150px;
    gap: 16px;
    padding: 20px 20px !important;
    justify-content: start;
    text-align: center;
}

.container h1 {
    font-size: larger !important;
    font-weight: bold !important;
    margin: 0 !important;
    color: $primary !important;
    align-self: center;
}

.container p {
    font-size: medium;
    margin: 0;
    color: $secondary;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}