@import '../styles/global.scss';

.imports-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.dropzone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba($tetriary, 0.2);
    border: 2px dashed $tetriary;
    border-radius: 8px;
    width: 450px;
    height: 200px;
    cursor: pointer;
    transition: background-color 0.3s ease, border 0.3s ease;
}

.dropzone.processing {
    border: 2px dashed rgba($dark, 0.1);
}

.dropzone:hover {
    background-color: rgba($tetriary, 0.1);
    border: 2px dashed $dark;
}