.defaultButton {
    font-weight: bold !important;
    font-size: small !important;
    display: inline-block !important;
    width: auto !important;
    height: auto !important;
    text-align: center !important;
}

.primaryButton {
    @extend .defaultButton;
    border-radius: 20px !important;
    height: 30px !important;
    line-height: normal !important;
}

.squareButton {
    @extend .defaultButton;
    border-width: 2px;
    border-radius: 5px !important;
    height: 40px !important;
    width: 40px !important;
}

.roundButton {
    @extend .defaultButton;
    border-radius: 50% !important;
    height: 40px !important;
    width: 40px !important;
}