@use '@/styles/colors.scss' as *;

.container {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: left;
    align-items: center;
    margin: 0 0 20px 0 !important;
}

.header {
    color: $primary;
    align-items: center;
    font-weight: bolder;
    margin: 0;
}