@import '../styles/global.scss';

.links-container {
  display: flex;
  gap: 16px;
  justify-content: end;

  &.horizontal {
    flex-direction: row;
  }

  &.vertical {
    flex-direction: column;
    align-items: center;
  }
}