@import '../styles/global.scss';

.nav {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 24px 0;
    gap: 16px;
}

.nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 20px;
    margin: 0 20px;
    border-radius: 8px;
    font-weight: bold;
    color: $light;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    color: $dark;
    background-color: $light;
}

.active-nav-link {
    color: $dark;
    background-color: $light;
}