.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  
  .line-analysis-row {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  
  .separator-margin {
    margin-bottom: 12px;
  }
  
  .select-file-form {
    width: 200px;
    align-self: start;
  }
  
  .analyzed-word {
    font-weight: bold;
    text-decoration: underline;
  }

  .actionContainer {
    margin-top: 40px;
  }

  .dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .emptyDashboardInfo {
    padding: 60px 40px;
  }

  