@import './styles/global.scss';

.main-layout {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.mobile-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
  overflow-y: auto;

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.desktop-container {
  display: none;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
  overflow-y: auto;

  @include media-breakpoint-up(lg) {
    display: flex;
  }
}

.body {
  flex-grow: 1;
  background-color: $light;
  border-radius: 20px 0 0 0;
  overflow-y: auto;
}