@import './styles/global.scss';

.main-layout {
  display: flex;
  margin: 0;
  height: 100vh;
}

.mobile-container {
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.desktop-container {
  display: none;
  @include media-breakpoint-up(lg) {
    display: flex;
  }
  flex-direction: row;
  flex-grow: 1;   
}

.body {
    flex-grow: 1;    
}
