$primary: #5155c3;
$secondary: #3f45b3;
$tetriary: #f18c56;
$light: #ecedff;
$dark: #3b4657;
$danger: #df274f;

// Adjust Theme colors
$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "tetriary": $tetriary,
    "light": $light,
    "dark": $dark,
    "danger": $danger
);

// Import Sass AFTER defining custom colors
@import '~bootstrap/scss/bootstrap';

// Adjust React Components Styling
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}


//Adjust Global Elements

#root {
    background-color: $light;
}

.inactive-nav-link {
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.inactive-nav-link:hover {
    text-decoration: none;
    background-color: $secondary;
}

.active-nav-link {
    text-decoration: none;
    background-color: $secondary;
}

.card {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}