$primary: #04364A;
$secondary: #005E6E;
$tetriary: #008982;
$background: #e0e3e8;

// Adjust Theme colors
$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "tetriary": $tetriary,
    "background": $background,
);

// Import Sass AFTER defining custom colors
@import '~bootstrap/scss/bootstrap';

// Adjust React Components Styling
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}


//Adjust Global Elements

#root {
    background-color: $background;
}

.inactive-nav-link {
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.inactive-nav-link:hover {
    text-decoration: none;
    background-color: $tetriary;
}

.active-nav-link {
    text-decoration: none;
    background-color: $tetriary;
}