$primary: #2f49d0;
$secondary: #3962f3;
$light: #f7fafc;
$dark: #2d3748;
$background: #e0e3e8;
$active: #435bd5;

// Adjust Theme colors
$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "light": $light,
    "dark": $dark,
    "background": $background,
    "active": $active
);

// Import Sass AFTER defining custom colors
@import '~bootstrap/scss/bootstrap';

// Adjust React Components Styling
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}


//Adjust Global Elements

#root {
    background-color: $background;
}

.inactive-nav-link {
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.inactive-nav-link:hover {
    text-decoration: none;
    background-color: $active;
}

.active-nav-link {
    text-decoration: none;
    background-color: $active;
}